In [1]:
print("HEllo")

HEllo

In [2]:
Name="Michal JAckson"

In [4]:
Name

'Michal JAckson'

In [6]:
Name + " is the best"

'Michal JAckson is the best'

In [7]:
3*Name

'Michal JAcksonMichal JAcksonMichal JAckson'

In [8]:
Name="sringa"

In [9]:
Name

'sringa'

In [10]:
Name + " \n is the best"

'sringa \n is the best'

In [11]:
print("Michel jackson \n is the best")

Michel jackson
 is the best

In [12]:
print("Michel jackson \t is the best")

Michel jackson 	 is the best

In [13]:
print("Michel jackson \\ is the best")

Michel jackson \ is the best

In [15]:
A = ['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [16]:
A='1234567'

In [17]:
A[1::2]

'246'

In [18]:
Name="Michael Jackson"

In [19]:
Name.find('el')

5

In [20]:
 tuple1=("A","B","C" )

In [21]:
tuple1[-1]

'C'

In [23]:
 A=((11,12),[21,22])

In [25]:
A[1]

[21, 22]

In [26]:
A=((11,12),[21,22])

In [27]:
A[0][1]

12

In [28]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [29]:
 V={'A','B'}

In [30]:
V.add('C')

In [31]:
V

{'A', 'B', 'C'}

In [33]:
x="Go"

if(x!="Go"):

 print('Stop')

else:

 print('Go ')

print('Mike')

Go
Mike

In [34]:
x="Go"

if(x=="Go"):

 print('Go ')

else:


    print('Stop')

print('Mike')

Go
Mike

In [35]:
for n in range(3):

 print(n)

0
1
2

In [36]:
for n in range(3):

 print(n+1)

1
2
3

In [37]:
A=['1','2','3']

for a in A:


    print(2*a)

11
22
33

In [43]:
def Add(x,y):

 

   z=y+x

return(y)

SyntaxError: 'return' outside function (<ipython-input-43-b25e8a5b50b7>, line 7)

In [48]:
class Points(object):

def __init__(self,x,y):

self.x=x

self.y=y

def print_point(self):

      print('x=',self.x,'y=',self.y)

IndentationError: expected an indented block (<ipython-input-48-32aeac6feb88>, line 3)

In [53]:
class Points(object):

    def __init__(self,x,y):

        self.x=x

        self.y=y

    def print_point(self):

        print('x=',self.x,' y=',self.y)

p1=Points(1,2)

p1.print_point()

x= 1  y= 2

In [54]:
class Points(object):

    def __init__(self,x,y):

        self.x=x

        self.y=y

    def print_point(self):

        print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2