# Basics Training

In [2]:
import pandas as pd
import numpy as np

In [82]:
x=(1,2,3,4)

In [83]:
x

(1, 2, 3, 4)

In [84]:
type(x)

tuple

In [85]:
y={1,2,3,4,4}

In [86]:
y

{1, 2, 3, 4}

In [92]:
import array

In [101]:
import numpy as np

In [103]:
A=np.array([1,2])

In [104]:
A

array([1, 2])

In [95]:
type(y)

set

In [88]:
z=[1,2,3,4,'a']

In [89]:
z

[1, 2, 3, 4, 'a']

In [90]:
type(z)

list

In [42]:
c=pd.Series(z)

In [46]:
c

0    1
1    2
2    3
3    4
4    a
dtype: object

In [47]:
c.values

array([1, 2, 3, 4, 'a'], dtype=object)

In [48]:
c.to_frame()

   0
0  1
1  2
2  3
3  4
4  a

In [66]:
x=[["sringa","veena"],["sreya",2],["nidhi","su"]]

In [67]:
x

[['sringa', 'veena'], ['sreya', 2], ['nidhi', 'su']]

In [68]:
pd.DataFrame(x)

        0      1
0  sringa  veena
1   sreya      2
2   nidhi     su

In [62]:
dic={"name":['Sringa','sreya','nidhin'],"age":[32,32,35],"marks":[1,2,3]}

In [63]:
dic

{'name': ['Sringa', 'sreya', 'nidhin'],
 'age': [32, 32, 35],
 'marks': [1, 2, 3]}

In [75]:
pd.DataFrame(dic)

     name  age  marks
0  Sringa   32      1
1   sreya   32      2
2  nidhin   35      3

In [78]:
pd.DataFrame({"name":pd.Series(['Sringa','sreya','sanooj'],index=[11,12,13]),"age":[32,32,35],"marks":[1,2,3]})

      name  age  marks
11  Sringa   32      1
12   sreya   32      2
13  sanooj   35      3